@charset "utf-8";
*{margin:0;padding:0;}
body{
	min-width:320px;
	max-width:800px;
	margin:0 auto;
	font-size:62.5%;
	
}
#wrap{
	position:relative;
	overflow:hidden;
}
a{
	text-decoration:none;
}
/******************头部******************/
#header{
	width:100%;
	background-color:#5fc0cd;
	position:fixed;
	padding:0.5em 0 0.5em 0;
	min-width:320px;
	max-width:800px;
/*	position:absolute;
	top:0;*/
}
#header p{
	display:block;
	margin:0 auto;
	text-align:center;
	background-color:#55a8b3;
	width:14em;
	border-radius:0.5em;
}
#header p span{
	font-size:2em;
	line-height:1.5em;
	color:#FFF;
	padding:0.2em;
}
#header p .employee{
	background-color:#FFF;
	color:#5fc0cd;
	border-radius:0.25em;
}
#header img{
	/*float:right;*/
	position:absolute;
	top:0.8em;
	right:1em;
	height:2em;
}
/****************主体部分*********************/
#main .options{
	position:fixed;
	min-width:320px;
	max-width:800px;
	width:100%;
	top:4em;
	background-color:#FFF;
}

/*
#main .options form{
	border-bottom:0.1em solid #999;
	padding:0.5em 0 0.5em 0;
}
#main .options form select{
	display:inline-block;
	width:25%;
	color:#999;
	border:none;
	border-right:0.1em solid #999;
	margin-left:7%;
}
#main .options form select:hover{
	display:block;
}
*/
#main .options ul{
	list-style:none;
	border-bottom:0.1em solid #CCC;
	color:#999;
}
#main .options ul li{
	display:inline-block;
	font-size:1.5em;
	width:30%;
	text-align:center;
	margin:0.5em 0 0.5em 0;
	border-right:0.1em solid #999;
}
#main .options ul .border_none{
	border-right:none;
}
#main .options ul li img{
	float:right;
	width:0.8em;
	margin:0.4em;
}
#main .results{
	margin-top:7.5em;
}
#main .results div{
	color:#999;
	font-size:1.5em;
	padding-left:1em;
	border-bottom:0.1em solid #999;
}
#main .results div p{
	padding:0.3em;
}
#main .results div p img{
	height:1em;
}
#main .results div p span{
	color:#000;
	margin-left:1em;
}
#main .results div p span span{
	color:red;
	float:right;
}
#main .results div p span span img{
	margin:0 0.5em;
}
#main{
	margin-bottom:5em;
}
/******************尾部******************/
/*#footer{
	position:fixed;
	bottom:0;
	width:100%;
	max-width:800px;
	background-color:#F0F0F0;
}
#footer li{
	list-style:none;
	display:inline-table;
	width:32%;
	text-align:center;
}
#footer li img{
	height:2.5em;
}
#footer .Li1 p{
	color:#5fc0cd;
}
#footer .Li3 p{
	color:#999;
}
#footer .Li2 a{
	background-color:#5fc0cd;
	display:block;
	margin:0 auto;
	width:4.6em;
	height:4.6em;
	border-radius:2.3em;
}
#footer .Li2{
	margin:0;
}
#footer .Li2 img{
	padding-top:1em;
}*/
#footer{
	position:fixed;
	bottom:0;
	width:100%;
	max-width:800px;
	background-color:#F0F0F0;
}
#footer ul{
	display:-moz-box;
    display:-webkit-box;
    display:box;
	-moz-box-align:center;
	-webkit-box-align:center;
	-o-box-align:center;
}
#footer li{
	list-style:none;
	width:33%;
	text-align:center;
}
#footer li img{
	height:2.5em;
}
#footer .Li1 p{
	color:#5fc0cd;
}
#footer .Li3 p{
	color:#999;
}
#footer .Li2 a{
	background-color:#5fc0cd;
	display:block;
	margin:0 auto;
	width:4.6em;
	height:4.6em;
	border-radius:2.3em;
}
#footer .Li2 a img{
	padding-top:1em;
}